html, body {
	font-family: Arial;
}

#auth-layer, #home-layer, #profil-layer, #list-layer {
	width: 400px;
	margin: 0 auto;
	padding: 10px;
}

#page-wrapper, #profil-layer, #list-layer, #home-layer   {
	padding-top: 50px;
}

#profil-layer {
	width: 600px;
}

#list-layer {	
	width: 700px;
}

.page-title {
	font-weight: bold;
	border-bottom:1px solid #0f6cde;
}

#header {
	background-color: #0f6cde;
	padding: 10px;
}

#logo {
	text-align: center;
	background-color: #0f6cde;
	padding: 10px 0;
}

#logo img {
	width: 182px;
    height: auto;
}

.sign-out-link{
	text-align: right;
	vertical-align: middle;
}

.sign-out-link a{
	color: #fff;
}

.auth-container, .home-container {
	padding: 10px;
}

.home-container {
	padding: 50px 200px 0 0;
}

.list-container {
	padding: 50px 0 0 0;
}

.th-list {
	font-weight: bold;
	padding-bottom: 10px;
	font-size: 0.8em;
}

.tool-line {
	font-size: 0.8em;
}

.profil-container {
	padding: 30px 0 30px 0;
}

.item{
	font-weight: bold;
}

.header-member, .header-not-member {
	padding-top: 15px;
	font-size: 0.9em;
	font-weight: bold;
	color: #666;
}

.validation {
	color: red;
	font-style: italic;
	font-size: 0.7em;
}

@media screen and (max-width: 700px) {
	#auth-layer, #home-layer, #profil-layer, #list-layer {
		width: 400px;
		margin: 0 auto;
		padding: 7px;
	}
}

@media screen and (max-width: 390px) {
	
	#page-wrapper, #profil-layer, #list-layer, #home-layer   {
		padding-top: 5px;
	}
	
	#logo img, #header .row img {
		width: 130px;
		height: auto;
	}
	
	#auth-layer, #home-layer, #profil-layer, #list-layer {
		width: 300px;
		margin: 0 auto;
		padding: 7px;
	}
	
	.profil-container {
		font-size: 0.8em;
	}
	
	.page-title {
		font-size: 0.8em;
		font-weight: bold;
		border-bottom:1px solid #0f6cde;
	}
	
	.home-container {
		padding: 30px 100px 0 10px;
	}
	
	.header-member, .header-not-member {
		padding-top: 5px;
		font-size: 0.8em;
		font-weight: bold;
		color: #666;
	}
	
	.list-container {
		padding-top: 30px;
		font-size: 0.9em;
	}
}

/* placeholder color */
form .form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #aaa;
}
form .form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #aaa;
   opacity:  1;
}
form .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #aaa;
   opacity:  1;
}
form .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #aaa;
}
form .form-control::-ms-input-placeholder { /* Microsoft Edge */
   color:    #aaa;
}

form .form-control::placeholder { /* Most modern browsers support this now. */
   color:    #aaa;
}